.grid_12.content
  .somespace
  .push_9
    .grid_3
      %a.usdol{:href=>"http://www.dol.gov/summerjobs/Employers.htm"} Visit the Official US DOL Website
  .vspace
  .clear
  .push_7
    .grid_5
      %p.green=@description

  .clear

  .grid_5
    %form#search_form{:action => "/search", :target => "jobs"}
      %h3 For Me
      -if @user
        .user
          .avatar
            %img{:src => "http://graph.facebook.com/#{@user["id"]}/picture"}
          .desc
            %p.name=@user["name"]
            %p.location=@user["location"]["name"]
            %p.job=@user['job']
      .clear
      %p
        %label Keyword
        %input.search_box{:name =>"q", :type => "text", :value => params['q']}
      %p
        %label City
        %input.location_box{:name=>"city", :type => "text", :value => params['city']}
        %label State
        %input.location_box{:name=>"state", :type => "text", :value => params['state']}
      %p.orange-button
        %a{:href => "javascript:search();"} Find Summer Jobs
      %h3 For My Friends < 30
      -if @friends
        .friends
          -@friends.each do |friend|
            .user
              .avatar
                %img{:src => friend["pic_square"]}
              .desc
                %p.name=friend['name']
                %p.location=friend["location"]
                %p.job=friend['job']
            .clear
      %h3 For My Friends > 30
      -if @older_friends and @older_friends.count > 0
        .friends
          -@older_friends.each do |friend|
            .user
              .avatar
                %img{:src => friend["pic_square"]}
              .desc
                %p.name=friend['name']
                %p.location=friend["location"]
                %p.job=friend['job']
            .clear

  .grid_7.jobs
    %iframe#jobs_frame{:src => @default_search, :name => "jobs"}

  .clear

  .employers
    .grid_8
      %h3 For Employers
      %ul
        %li
          %a{:href => "http://webapps.dol.gov/DOLEvents/Event/Register/17/Summer-Jobs-Commitment-Registration", :target => "_new"} Register
        %li
          %a{:href => "http://www.dol.gov/summerjobs/addingopportunities.htm"} Add Jobs
        %li
          %a{:href => "http://www.dol.gov/summerjobs/employerfaqs.htm"} Answers
        %li
          %a{:href => "http://www.dol.gov/summerjobs/partners.htm"} Who Else ?
        %li
          %a{:href => "http://www.dol.gov/summerjobs/pdf/Toolkit.pdf"} Learn...

  :javascript
    function search() {
      var form = document.getElementById("search_form");
      form.submit();
    }





