%table.table.table-striped.jobs.table-bordered
  -if @jobs.count > 0
    %thead
      %tr
        %td{:colspan => 2}
          %h3{:style => "margin-bottom: 0px"}=@title
    -@jobs.each do |job|
      %tr{:itemscope =>"itemscope", :itemtype=>"http://schema.org/JobPosting"}
        %meta{:itemprop=>"specialCommitments", :content=> job.specialcommitments}
        %td
          %a{:itemprop => "url", :href =>job.url}
            %strong{:itemtype => "title"}=job.title
          -if job.industry
            %p.strong{:itemprop => "industry"}=job.industry
          -if job.description
            %p{:itemprop => "description"}=job.description
          %p.datetime
            %label Date Posted:
            %span{:itemprop => "datePosted"}=job.dateposted
        %td
          %button.btn{:class=>"Recommend_to_friend", :mylink => job.link}
            %i.icon-user
  -else
    %p No results found. Please try again
%script{:src=>"/js/my.js"}