a {
    text-decoration: none;
    /*color: #55c0c7;*/
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

strong {
    color: #ec6129;
}
.small {
    width:100px;
    height:100px;
}

.mycs {
    overflow-y: auto;
    height: 450px;
    width: 440px;
}

body {
  background-color: #0792d9;
  color: #444;
  font-family: 'Helvetica Neue', "Helvetica Neue Light", Helvetica;
}

.hero-unit {
    margin-bottom: 10px;
    padding: 30px;
    background: url(/images/WashingtonSmall.jpg) no-repeat;
    border-radius: 5px;
    color: white;
}
.hero-unit p {
    width: 80%;
}

body.jobs{background-color:white}

.content {
    border-radius: 9px;
    border-style: solid;
    border-width: 10px;
    border-color: #fff;
    background-color:white
}

.vspace {
    margin-top: 180px;
}

.somespace {
    margin-top: 50px;
}

.usdol {
    margin-top: -30px;
    color: white;
    background-color: #0792d9;
    display: block;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

p.green {
    background-color: #78c22e;
    color:white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    font-style: italic;
}

.search_box {
    width: 200px;
}


.employers h3{
    font-style: italic;
    margin-bottom: 40px;
}

.employers ul li {
    display: inline;
    float: left;
    padding-right: 1px;
    margin: 0px;
}

.employers ul li a {
    color: #fff;
    font-weight: bolder;
    background-color: #f0ca27;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

/* Fancy Buttons */
p.orange-button {
    margin: 10px 0 10px 0;
}
.orange-button a {
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: 1px solid #813516;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ec6129;
    background: -moz-linear-gradient(top,  #ec6129 0%, #C14513 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec6129), color-stop(100%,#C14513));
    background: -webkit-linear-gradient(top,  #ec6129 0%,#C14513 100%);
    background: -o-linear-gradient(top,  #ec6129 0%,#C14513 100%);
    background: -ms-linear-gradient(top,  #ec6129 0%,#C14513 100%);
    background: linear-gradient(top,  #ec6129 0%,#C14513 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec6129', endColorstr='#C14513',GradientType=0 );
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .3), inset 0 -1px 0 0 rgba(0,0,0, .4);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255, .3), inset 0 -1px 0 0 rgba(0,0,0, .4);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255, .3), inset 0 -1px 0 0 rgba(0,0,0, .4);
}
.orange-button a span {
    font-family: Times,serif;
    font-style: italic;
    font-weight: normal;
}
.orange-button a:hover {
    text-decoration: none;
    background: #f9672c;
    background: -moz-linear-gradient(top,  #f9672c 0%, #e26638 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9672c), color-stop(100%,#e26638));
    background: -webkit-linear-gradient(top,  #f9672c 0%,#e26638 100%);
    background: -o-linear-gradient(top,  #f9672c 0%,#e26638 100%);
    background: -ms-linear-gradient(top,  #f9672c 0%,#e26638 100%);
    background: linear-gradient(top,  #f9672c 0%,#e26638 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9672c', endColorstr='#e26638',GradientType=0 );
}
.orange-button a:active {
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0,0,0, .4);
    -moz-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0,0,0, .4);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .1), inset 0 -1px 0 0 rgba(0,0,0, .4);

}

.datetime {
    font-size: 8pt;
}

.datetime label {
    color: #ec6129;
}

.friends {
    max-height: 400px;
    overflow: scroll;
}
.user {
  width: 100%;
  margin-bottom: 15px;
}

.user, .user .avatar, .user .desc {
    float: left;
    display: inline;
}

.user .avatar {
    width: 20%;
}

.user .desc {
    width: 80%;
}

.name {
    font-weight: bold;
}

.user p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.grid_7.jobs {
    margin: 0;
}
#jobs_frame{
 width: 100%;
 height: 900px;
 border: none;
}

.jobs_list{
    background-color: white;
}

ul.jobs {
    margin: 10px;
}

